/* Will be compiled down to a single stylesheet with your sass files */

@import 'aui/aui-all.css';


.fl { float: left; }
.fr { float: right; }
.ctr { text-align: center; }

.add-block {
	background: #999;
	padding: 16px;
}

.user-dropdown {
	display: block;
	right: 8px;
	z-index:999;
}

.aui-dropdown2-section li:hover a {
	background-color: #3b73af;
	color: #fff;
	cursor: pointer;
}

.aui-dropdown2.aui-style-default a{
	padding: 6px 10px;		
}

.dropdownlistitem {
	padding: 6px 10px;		
}

/*form.aui input.text.error {
	border: 1px solid red;
}*/

.aui.inline-form {
	position: relative;
	display: inline-block;
}
.aui.inline-form .select {
	font-size: 0.625em;
	height:2.25em;
	top: -2px;
	position: relative;
}
.inline-button {
	margin-left: 16px;
}

.network-name-form {
	margin-left:-30px;
}

.network-name-inlinedit-span {
	margin-top:5px;
}

.course-container {
	border: 1px solid #ccc;
	border-radius: 8px;
	margin: 20px 0;
	padding: 20px;
	background-color:#ffffff;
}

form.aui .text.non-editable {
	border: none;
	box-shadow: none;
}

form.aui fieldset {
	margin: 1em 0;
}