/* Will be compiled down to a single stylesheet with your sass files */

@import 'aui/aui-all.css';

.aui-header .aui-header-logo-university .aui-header-logo-device {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHAAAAAiCAYAAACHpl23AAAEJGlDQ1BJQ0MgUHJvZmlsZQAAOBGFVd9v21QUPolvUqQWPyBYR4eKxa9VU1u5GxqtxgZJk6XtShal6dgqJOQ6N4mpGwfb6baqT3uBNwb8AUDZAw9IPCENBmJ72fbAtElThyqqSUh76MQPISbtBVXhu3ZiJ1PEXPX6yznfOec7517bRD1fabWaGVWIlquunc8klZOnFpSeTYrSs9RLA9Sr6U4tkcvNEi7BFffO6+EdigjL7ZHu/k72I796i9zRiSJPwG4VHX0Z+AxRzNRrtksUvwf7+Gm3BtzzHPDTNgQCqwKXfZwSeNHHJz1OIT8JjtAq6xWtCLwGPLzYZi+3YV8DGMiT4VVuG7oiZpGzrZJhcs/hL49xtzH/Dy6bdfTsXYNY+5yluWO4D4neK/ZUvok/17X0HPBLsF+vuUlhfwX4j/rSfAJ4H1H0qZJ9dN7nR19frRTeBt4Fe9FwpwtN+2p1MXscGLHR9SXrmMgjONd1ZxKzpBeA71b4tNhj6JGoyFNp4GHgwUp9qplfmnFW5oTdy7NamcwCI49kv6fN5IAHgD+0rbyoBc3SOjczohbyS1drbq6pQdqumllRC/0ymTtej8gpbbuVwpQfyw66dqEZyxZKxtHpJn+tZnpnEdrYBbueF9qQn93S7HQGGHnYP7w6L+YGHNtd1FJitqPAR+hERCNOFi1i1alKO6RQnjKUxL1GNjwlMsiEhcPLYTEiT9ISbN15OY/jx4SMshe9LaJRpTvHr3C/ybFYP1PZAfwfYrPsMBtnE6SwN9ib7AhLwTrBDgUKcm06FSrTfSj187xPdVQWOk5Q8vxAfSiIUc7Z7xr6zY/+hpqwSyv0I0/QMTRb7RMgBxNodTfSPqdraz/sDjzKBrv4zu2+a2t0/HHzjd2Lbcc2sG7GtsL42K+xLfxtUgI7YHqKlqHK8HbCCXgjHT1cAdMlDetv4FnQ2lLasaOl6vmB0CMmwT/IPszSueHQqv6i/qluqF+oF9TfO2qEGTumJH0qfSv9KH0nfS/9TIp0Wboi/SRdlb6RLgU5u++9nyXYe69fYRPdil1o1WufNSdTTsp75BfllPy8/LI8G7AUuV8ek6fkvfDsCfbNDP0dvRh0CrNqTbV7LfEEGDQPJQadBtfGVMWEq3QWWdufk6ZSNsjG2PQjp3ZcnOWWing6noonSInvi0/Ex+IzAreevPhe+CawpgP1/pMTMDo64G0sTCXIM+KdOnFWRfQKdJvQzV1+Bt8OokmrdtY2yhVX2a+qrykJfMq4Ml3VR4cVzTQVz+UoNne4vcKLoyS+gyKO6EHe+75Fdt0Mbe5bRIf/wjvrVmhbqBN97RD1vxrahvBOfOYzoosH9bq94uejSOQGkVM6sN/7HelL4t10t9F4gPdVzydEOx83Gv+uNxo7XyL/FtFl8z9ZAHF4bBsrEwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAnhpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IlhNUCBDb3JlIDUuMS4yIj4KICAgPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICAgICAgPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIKICAgICAgICAgICAgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIj4KICAgICAgICAgPHhtcDpDcmVhdG9yVG9vbD5BZG9iZSBQaG90b3Nob3AgQ1M1IE1hY2ludG9zaDwveG1wOkNyZWF0b3JUb29sPgogICAgICA8L3JkZjpEZXNjcmlwdGlvbj4KICAgICAgPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIKICAgICAgICAgICAgeG1sbnM6dGlmZj0iaHR0cDovL25zLmFkb2JlLmNvbS90aWZmLzEuMC8iPgogICAgICAgICA8dGlmZjpZUmVzb2x1dGlvbj43MjwvdGlmZjpZUmVzb2x1dGlvbj4KICAgICAgICAgPHRpZmY6T3JpZW50YXRpb24+MTwvdGlmZjpPcmllbnRhdGlvbj4KICAgICAgICAgPHRpZmY6WFJlc29sdXRpb24+NzI8L3RpZmY6WFJlc29sdXRpb24+CiAgICAgIDwvcmRmOkRlc2NyaXB0aW9uPgogICA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgr8WUKcAAANH0lEQVRoBe2YC7BWVRWA74P32wdPxbxIlJqpEIovRLLCzAcZY0I+SLRwTGc0o8nxVeRQ5ow2+WqyB6OjNsakpmmTiWKII6CkiAijXlABUUQFBORe+r7zn3XZHP//Xpq6aMKa+f699nvttfbe55y/evPmzVU75f/XAzXb2XTnq4XqfF51xfy22mLb6G/fHVq21Wn/Cyfp9EZoAI+9c6ubmreuXY5lYr5trpuat620rVpc1Z7UTWDbNllZKUXdMaR6O12hBk+n94NBMA/eBh3fuGHDhkHt27c3EAugJfksDQycY+zwogNbW9Lr7hImewROgj3gFhhC8C4kvQI6wm4Q0h1l9zzTidT6MfAN6Aa7gidT8XR2Bk/iDiPbY7FuEq9KA3EwrINhMBAmQC/4AAzQRXA4zISVYKCehDVwGCwC21ln3yPhFXgK3BR9YS5cCs6TnXDST6xsjxMYc+hsT8ttsD8YNJ19D6yA9VDPld6D9Ew4C74Aq2AojIK3YU/wGn4VNsFp9DmN9CAwaF+F3qDE3KXcJ/C3tRfo9WmglK+Az67dcLjO9rRYNwdWwwGNjY1fq66u7ozuib0T/g5fhydgGpwIBtA26j1hfd5nNvqN8D7E2y3qJ1vatPLy3CAGowsMBANyGw4nyU6hz7RJYABX1dTUDCHtCi+BQdoFfPGRbtAHXgOv1M+Dz8A34E3wNNrnPXDOHUJa+y003j51rNehb5k6vD/sBW4gg2BQ1oLB84TVg8+6fcC3Tcfx1Kp7wvzk6AB7w0owoJZ5FdeB7bxO7efb70clzq+0mg0tBVADROdsq3jqNDiMLjrRYBqs1pbivK09X3F8508l/JGW/dd6cwH0dHgthRiY5gJZrI/+lRxpvYuyPp2HbPayk85VaYxyfWNex/k4ibYq+knd9aVrJPufS7kAps7y2TUOfJV/BvzWKj5for3lw8E3xN+AEkH17dM3Sa9HrznH860z+vqMs978fFgEzUn0s82h4AvNRrgXnoa0nux2k3TeY5n1S+Cb892wGIqSti/WbVvef2ISsoCS7wZ9YQLMhEMgbVdJP4V2T8Mo6AedwbZ18Axs5k1zMckgsLwmTy8gDfkFinXaUpunkbe9tAHLZAqEXIximfUxdrQzdcwYI8rTMuvMR13aJ8rScdO+6m3zvuq/h5Bvodi/OwyGMXmajl+ct6U66z/0r4UnxZ1cS+2tVdXVvdH/CKvAl5C9wZeIuAbiXvdkLoQF8ChMgdkwARRfOLqr8Abq26TtU7EsxBcZxbFjfOdTjytHPXavLysh2q5Ev2hTKi39Rp254rjRLm6OyNvHMiVsKNc3HgW2D7v8VBJlFFwHvk1fD3PBtn72eIO1ZC9NthafF6mEAavx9MNUXAgDoSdcAX7LhWiUAQ/5A8oNcAA4rv1DHHdtnok3xqgz3ZBkUj2c5SJDis51zgfAxb+UN9IZIalT0nGsj/HV03Etj3z0idS2StrXOZS0zWTy+sT1vAyK/jJ4Smw29fC7enP2pnW23eoExi7Q+ZPyuqtJ6+FFcGJP319gAPjN9ggYkBOgB/j6/lvwE2A/OBd+DU4cwY6UoibRWSGxmNMpcDM8BG/ASPgc10YvTvFC9GvB56m2WOcG8bk6GL4IfhveAz5PY+Eno3uTeDq005vFeY4An/fO/S+4E16BfjAGeoE3kb45CabCYhgHx2BTN2wyoAbL/rdDf9AO53A+/XUqxMY/FP0iqOGx0plvYNs4h/5WnEt77ec6p8ESqIEtm8d7NCe928+h7BWYBUdDe5gH9TAErgflPDge1sM0cKwzYSH4LLTOsn0x8gVSZQnsB5bHnJPQQ65Gcb7n8oJlpCtyPU1+RcYxfpoU+iy9Kslfgm4b6QPzQVkDI+FWM2XEdXeFA+GDvN5n+Ou5/k3Si3K9mNj+cLg2qTgL/a95fhOplJNLKQx7B6C/mDdaTqot1sVzNmtnNEPi+Hek4Hm4Eu4Fo+5ucHfuBSPhcFCOgmPBv8ii/0KCNZX8NbAalI3sUE/Btki0c0cqnvxemVY67dkJZSHHUOazNa5mm7wDD0Ps0GHofncqQ+FTmVa6RQ5G/3aeX0b6IMzP856O8bARYg0HoveFKta3B8lYdcRbyTk97fpqOrwOIZ5KT90s0FbX5233FjwD3ibWK8dBt0wr/eFfl+uPkhoTJfycZWqy39KPgyqd4Hz4IQyHHuAE5drapwEUDVN6ch14pV4KXhmKDo36rGAbfrJA0U4HPQSj4UxYCr4MOaYbK4KVFfPzNHiNKTo9nHA0egTzn+gDIGQyis6bCF69itf3LuD8iuv02jyb9U0nDUcb/HPgZNgHXLs2ehAU162NV8GkPE9SdRe4iTwMM0A5CLzilSPB9SmPgjFwrPA36pYG6lHhzrgJfGMy2u4gd3o4yv8a14Pi8896JXbGu+ga5AlyVyo+92J8jQiJPpGP1DZZHSdtBcFy4fOgA/nvk6/L67UpHU+nad8ToDN06P7wHHgClZUwB3SQov2HQlfYCzx1nrKuBMogZXlST+c4cCzbhu190K8DN0WA2vTMr0UPG+MEOv56xrfdKtBPI8ENNgJmQwTyVfSnQDGgBrJJshHyXExiVgdp2JdhGBgUUfaF++Fv4E53FynLS0l2pQ5H3xX2zsscO8bX6S5KiTTqLAvHZCnBSg3uQT5ta/tUvMqVxyDG8RQaoAGgzIUXoJ0ZxD5nwBQ4D/pBFc7tYYrExluKHteYm+QOKxFvrBPhZ/A43Az2dQMrYYd6OzagqePH2s3qy3oVRN+NhToziMF7NtO2HisriiNqpmmihoaGtbW1tf0pmwU6vBO/93CJjkD/LtzODpqDEcegHwfKfdAT3OELQUesAEWnx/huGk+uEtdknGLL0oWZt33Y2YgDmouhbRWvUYPkZjsEPDG7g/IPcNdHsDei23YdY7djcPO7wExYDzG37T0hBs/1XAkLwOAdAAOhI3wHpoOnrSgaH2WxMcw7/0NwLnggesNuoDwG2mHHtA/ZLcap62Cd10Dw7iZdDSfAxfASbvSaOB6OhfH58UfN5EZ+H4TTwefn72AGeKUojuXCFYN8BLxsBnHRQzKt9PM+iYZGMCx1EympA5o8Uaoq1ef6ItInwAB6FR0EHcDT/Dgo6cn29N2Bc23TBgzgUjD4EWjUJjt8JBjou3Jcw81wBli+JziOkq7DN8fYgbGmUqvSAZhAphu44Vyfz+MnQXG81Oamwkwp/Djp0TAKbofD4G0YCzfAGNAY3y5/iXo5jIQecC+cBbZ/HJTl8CwMBR3yE/AZZLnOtW+IQdfQWKAOcXOFxCIsV2JX2j7q1B+D8dAd3BSKJ9PbQakvJdlVegp6bJw69P7gOj2VDfmpcWydqpj+APrAHHCtBlGpBcfKbhX6b6B/2N+IHmPoiwtgBdwF2utYltvfq1l79ZsSY5Ry8csE2fdEksZ/cr4w+K00GVaC34a27QQTwW8o//uM/teg+510PhyVlMf/lv4HGN81qGVlKqWO53+x8c32JvrQvLw36fOgLIHO8GMzuaTffX5rFr8ff05Z2DscfXXer1ziN9n+YBAVvw21y/518B6UE+0dBn6nhoxHsZ/fh+9HYZ5qw65g/WV5WSQ/ysuNScQl7M/SOOYRT1MjXQPeu+5k7/g/w59AWQc3ZdrWP14h3t+j4f68yvF9zrnr5sJp8D1wl/mS44uE4y0D57gFFOf3CuyVp++QKu5qH+qedOsd+0UsXsIM76HXQ8gilKkwmsWvZePb9r68Unvc8WeDV/6noYteo91b6NrjPPpgBgzO83HCLb8NRoDXradF2zxN18IsGAFLwbLXQLH8cnBOr0rlSeiQaaXHkC9SfeAN0EZFP8bcWUH8ZFGNTJnU68eJXFAEwivCa8tAqytxjfmQd0He3S4yRIelV8AA8hppAH2h0fErQakB2zqvjvGqXA3O4TgGzwXrsFW5rp3Ku+D1E/N1RHcc8zrAq85N6RymivUDoQvYxjF1uHbpOOdrC2vB8UMsc4P1BdetnS/DclAct9OaqjWNXaq6uAG1N+Qzm6o27dGmqo3juXbX59xulAegNzwMo8GNqR36/0PSXADDCdEpXbR1Ek6wTVpvvtjfvG0i2LYpSmyOYrn54njl2qTtKrWPclMl3VilkuZ/o39zrYq+iLaVyqN+IsqNeWYy6WW5XnFOI1tJXJgT2kanp463rrhwg2lb+7ibivXmHcMg2Sbqw5HFORzLto7r7ov2MYd55wkbUbN2samst78o5tNxzDu346UOCntix8d82pf239JvOjUjoDSObbQhnTvKLNde65xfcRxvK2+bU0Gx/XQVxJPuOsuKnZsTJ4y3vebaRZ0TtyTFQFVq71jlxiuWNWdjS3NFUCvZYHkl522xY0TZ7pXm1l4JCd3HyUzQ3z4XZ4MS9aVc4be5K7TQdGf2I/BAejOUnd7jvFM+vh6Ia7aihS1doRU77qxoFQ/4bIxT5xXcovwbMoK6KawbgwAAAAAASUVORK5CYII=);
	width: 110px;
	background-position: 0 50%;
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 24px;
	padding: 8px 0;
	text-align: left;
	text-indent: -9999px;
}

.fl { float: left; }
.fr { float: right; }
.ctr { text-align: center; }

.add-block {
	background: #999;
	padding: 16px;
}

.user-dropdown {
	display: block;
	right: 8px;
	z-index:999;
}

.aui-dropdown2-section li:hover a {
	background-color: #3b73af;
	color: #fff;
	cursor: pointer;
}

.aui-dropdown2.aui-style-default a {
	padding: 6px 10px;
}

/*form.aui input.text.error {
	border: 1px solid red;
}*/

.aui.inline-form {
	position: relative;
	display: inline-block;
}
.aui.inline-form .select {
	font-size: 0.625em;
	height:2.25em;
	top: -2px;
	position: relative;
}
.inline-button {
	margin-left: 16px;
}

.network-name-form {
	margin-left:-30px;
}

.network-name-inlinedit-span {
	margin-top:5px;
}

.course-container {
	border: 1px solid #ccc;
	border-radius: 8px;
	margin: 20px 0;
	padding: 20px;
	background-color:#ffffff;
}

form.aui .text.non-editable {
	border: none;
	box-shadow: none;
}

form.aui fieldset {
	margin: 1em 0;
}