<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="UserAdminApp"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="UserAdminApp"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="UserAdminApp"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="UserAdminApp"> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title></title>
    <meta name="description" content=""/>
    <link rel="stylesheet" href="styles/main.css"/>

</head>
<body ng-app="UserAdminApp" ng-controller="MainCtrl">

    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <!--[if lt IE 9]>
        <script src="bower_components/es5-shim/es5-shim.min.js"></script>
        <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <div id="page">

        <!-- app header -->
        <header id="header" role="banner">
            <nav role="navigation" class="aui-header aui-dropdown2-trigger-group">
                <div class="aui-header-primary">
                    <h1 class="aui-header-logo aui-header-logo-university" id="logo">
                        <a href="">
                            <span class="aui-header-logo-device">Atlassian University</span>
                        </a>
                    </h1>
                    <ul class="aui-nav">
                        <li><a href="">Interactive Courses</a></li>
                        <li><a href="">Webinars</a></li>
                    </ul>
                </div>
                <div class="aui-header-secondary">
                    <ul class="aui-nav">
                        <li>
                            <form action="" class="aui-quicksearch">
                                <label for="quicksearchid" class="assistive">Search</label>
                                <input type="text" name="quicksearchname" placeholder="Search Lessons" class="search" id="quicksearchid">
                            </form>
                        </li>
                        <li><a href="javascript:void(0);" class="aui-dropdown2-trigger" ng-click="dropdown=!dropdown">
                                <div class="aui-avatar aui-avatar-small">
                                    <img src="" alt="">
                                </div>
                            </a>
                            <div class="aui-dropdown2 aui-style-default aui-dropdown2-in-header user-dropdown" ng-show="dropdown">
                                <div class="aui-dropdown2-section">
                                    <ul class="aui-list-truncate">
                                        <li><a href="">Profile</a></li>
                                        <li><a href="">Stuff</a></li>
                                    </ul>
                                </div>
                                <div class="aui-dropdown2-section">
                                    <ul class="aui-list-truncate">
                                        <li><a href="">Log Out</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- page -->
        <section id="content" role="main">
            <header class="aui-page-header">
                <div class="aui-page-header-inner">
                    <div class="aui-page-header-image">
                        <div class="aui-avatar aui-avatar-xlarge aui-avatar-project">
                            <div class="aui-avatar-inner">
                                <img src="img/university-logo.png" alt="University Logo">
                            </div>
                        </div>
                    </div>
                    <div class="aui-page-header-main">
                        <h1>Administration for the
                            <form action="" class="aui inline-form" name="networkForm">
                                <select class="select" name="networkselect" id="" ng-model="network" ng-change="updateNetwork()" ng-options="network.title for network in networks"></select>
                            </form> network
                        </h1>
                    </div>
                </div>
            </header>

            <!-- content -->
            <div class="aui-page-panel">
                <div class="aui-page-panel-inner">

                    <!-- sidenav column -->
                    <div class="aui-page-panel-nav">
                        <nav class="aui-navgroup aui-navgroup-vertical">
                            <div class="aui-navgroup-inner">
                                <div class="aui-nav-heading"><strong>University Administration</strong></div>
                                <ul class="aui-nav" >
                                    <li ng-repeat="page in pages" ng-class="{ 'aui-nav-selected': page.selected }">
                                        <a ng-href="{{ page.path }}">{{ page.name }}</a>
                                    </li>
                                    <li><a href="#">Generate Report</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>

                    <section class="aui-page-panel-content" ng-view></section>

                </div>
            </div>
        </section>

        <!-- footer -->
        <footer id="footer" role="contentinfo">
            <section class="footer-body"></section>
        </footer>
    </div>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>

    <!-- Chart Dependency -->
    <script src="scripts/Chart.js"></script>
    <script src="scripts/aui-all.js"></script>

    <!-- build:js scripts/scripts.js -->
    <script src="bower_components/underscore/underscore.js"></script>

    <script src="scripts/modules/storage.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/filters/filters.js"></script>
    <script src="scripts/controllers/mainctrl.js"></script>
    <script src="scripts/controllers/domainctrl.js"></script>
    <script src="scripts/controllers/individualctrl.js"></script>
    <script src="scripts/controllers/licensectrl.js"></script>
    <script src="scripts/controllers/userctrl.js"></script>
    <script src="scripts/controllers/visualctrl.js"></script>

    <script src="scripts/services/rest.js"></script>
    <script src="scripts/services/util.js"></script>
    <!-- endbuild -->


</body>
</html>
