<div class="aui-group">
	<h2>Allowed Domains</h2>
	<p>Emails addresses on the listed domains will be allowed in this network.  Free email domains like 'gmail.com' are not allowed as all users with those domains would be allowed in your network.</p>
	<div class="aui-group">
		<div class="add-block">
			<form class="aui aui-group" name="entryForm">
				<input type="text" class="text" name="individualEntry" ng-model="entry" required lowercase>
				<input type="text" class="text" name="domainEntry" required ng-model="entry" ng-pattern="/^(([a-zA-Z]{1})|([a-zA-Z]{1}[a-zA-Z]{1})|([a-zA-Z]{1}[0-9]{1})|([0-9]{1}[a-zA-Z]{1})|([a-zA-Z0-9][a-zA-Z0-9-_]{1,61}[a-zA-Z0-9]))\.([a-zA-Z]{2,6}|[a-zA-Z0-9-]{2,30}\.[a-zA-Z]{2,3})$/" style="display:none;">
				<button class="aui-button inline-button" ng-click="add()" ng-disabled="!entryForm.domainEntry.$valid || exists()">Add</button>
			</form>
		</div>
	</div>

</div>
<div class="aui-group">
	<table class="aui aui-table-interactive aui-table-sortable tablesorter tablesorter-default">
		<thead>
			<tr class="tablesorter-headerRow">
				<th class="tablesorter-header"
					ng-click="reverse=!reverse;"
					ng-class="{ 'tablesorter-headerDesc': reverse, 'tablesorter-headerAsc': !reverse}">
					<div class="tablesorter-header-inner">
						<span class="aui-table-header-content">Domain</span>
					</div>
				</th>
				<th>
					<div class="tablesorter-header-inner">Actions</div>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="domain in domains | filter:entry | orderBy:'id_domain':reverse | limit:pagination.offset:pagination.limit">
				<td><a href="">{{ domain.id_domain }}</a></td>
				<td class="aui-compact-button-column">
					<div class="inline-actions">
						<button class="aui-button aui-button-compact" ng-click="remove(domain)">
							<span class="aui-icon aui-icon-small aui-iconfont-remove">Remove</span>
						</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="aui-item" ng-show="totalItems == 0">
	<br>
	<p>No domains found.</p>
</div>

<div class="aui-group aui-group-split">
	<div class="aui-item" ng-show="totalItems != 0">
		<p>{{ pagination.beginning_item }} - {{ pagination.last_item }} of {{ pagination.items.length }}
            <label for="pagesize">Results per page:</label>
            <select class="select" id="pagesize" name="pagesize" ng-model="itemsPerPage" ng-change="changeMaxItems(itemsPerPage)">
                <option value=10>10</option>
                <option value=20>20</option>
                <option value=50>50</option>
                <option value=100>100</option>
                <option value="{{pagination.items.length}}">All</option>
            </select>
		</p>
	</div>
	<div class="aui-item" ng-show="pagination.num_pages > 1">
		<pagination total-items="totalItems" page="pagination.current_page" items-per-page="itemsPerPage" max-size="maxSize" rotate="false" on-select-page="changedPage(page)"></pagination>
	</div>
</div>
