<div class="aui-group">
	<h2>Allowed Emails</h2>
	<p>Email addresses listed have been invited to this network, but these users have never signed up. Please note that granting access does not send an invitation email. Please instruct users to visit <a href="http://university.atlassian.com">university.atlassian.com</a>.</p>
	<div class="aui-group">
		<div class="add-block">
			<form class="aui aui-group" name="entryForm">
				<input type="text" class="text" name="individualEntry" ng-model="entry" required lowercase placeholder="Search or Invite">
				<input type="email" class="text" name="individualEmailEntry" ng-model="entry" required style="display:none;">
				<button class="aui-button inline-button" ng-click="add()" ng-disabled="!entryForm.individualEmailEntry.$valid || exists()">Invite</button>
			</form>
		</div>
	</div>

</div>
<div class="aui-group">
	<table class="aui aui-table-interactive aui-table-sortable tablesorter tablesorter-default">
		<thead>
			<tr class="tablesorter-headerRow">
				<th class="tablesorter-header"
					ng-click="reverse=!reverse"
					ng-class="{ 'tablesorter-headerDesc': reverse, 'tablesorter-headerAsc': !reverse}">
					<div class="tablesorter-header-inner">
						<span class="aui-table-header-content">Email Address</span>
					</div>
				</th>
				<th>
					<div class="tablesorter-header-inner">Actions</div>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="individual in individuals | filter:entry | orderBy:'id_user':reverse | limit:pagination.offset:pagination.limit">
				<td><a href="">{{ individual.id_user }}</a></td>
				<td class="aui-compact-button-column">
					<div class="inline-actions">
						<button class="aui-button aui-button-compact" ng-click="remove(individual)">
							<span class="aui-icon aui-icon-small aui-iconfont-remove">Remove</span>
						</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="aui-item" ng-show="totalItems == 0">
	<br>
	<p>No users found.</p>
</div>

<div class="aui-group aui-group-split">
	<div class="aui-item" ng-show="totalItems != 0">
		<p>{{ pagination.beginning_item }} - {{ pagination.last_item }} of {{ pagination.items.length }}
            <label for="pagesize">Results per page:</label>
            <select class="select" id="pagesize" name="pagesize" ng-model="itemsPerPage" ng-change="changeMaxItems(itemsPerPage)">
                <option value=10>10</option>
                <option value=20>20</option>
                <option value=50>50</option>
                <option value=100>100</option>
                <option value="{{pagination.items.length}}">All</option>
            </select>
		</p>
	</div>
	<div class="aui-item" ng-show="pagination.num_pages > 1">
		<pagination total-items="totalItems" page="pagination.current_page" items-per-page="itemsPerPage" max-size="maxSize" rotate="false" on-select-page="changedPage(page)"></pagination>
	</div>
</div>
