<div class="network-name-form">
	<form action="#" class="aui" >
		<fieldset class="group">
			<div class="field-group">
				<label for="network-name"><strong>Network Name:</strong></label>
				<div inline-edit="editName" on-save="changeFriendlyName(network)" on-cancel="cancelEdit(network.title)">
				  <input type="text" class="text" on-enter="save()" on-esc="cancel()" ng-model="model" ng-show="editMode">
				  <button ng-click="cancel()" ng-show="editMode">cancel</button>
				  <button ng-click="save()" ng-show="editMode">save</button>
				  <div class="network-name-inlinedit-span" ng-mouseenter="showEdit = true" ng-mouseleave="showEdit = false">
				    <span ng-hide="editMode" ng-click="edit()">{{model}}</span>
				    <a ng-show="showEdit" ng-click="edit()"><span class="aui-icon aui-icon-small aui-iconfont-edit" data-unicode="UTF+E014" original-title="">Edit</span></a>
				  </div>
				</div>
			</div>
		</fieldset>
	</form>
</div>

<!-- <div> -->
<!--   As of September 5th, 2014 all walkthroughs on Atlassian University -->
<!--   are free. All license information below is for reference -->
<!--   only. <b>You can now invite unlimited users in your network and all -->
<!--   users will have access to all content.</b> -->
<!-- </div> -->

<table class="aui" ng-show="everythingLoaded">
    <thead>
        <tr>
            <th id="basic-productname">Product Name</th>
            <th id="basic-licensesize">License Size</th>
            <th id="basic-sen">SEN</th>
            <th id="basic-expiration">Expiration</th>
            <th id="basic-versions">Visible Versions</th>
            <!-- <th id="basic-action">Action</th> -->
        </tr>
    </thead>
    <tbody ng-repeat="license in licenses | orderBy:id" >
        <tr>
            <td headers="basic-productname">
            	<b>{{license.productName}}</b>
            </td>
            <td headers="basic-licensesize" ng-show="license.purchased">
            <!-- //if this  is zero then show unlimted text-->
            	{{ license.sen.license_type }} <span ng-show="license.purchased">users</span>
            </td>
            <td headers="basic-licensesize"  colspan=4 ng-show="!license.purchased">
				<div class="aui-message hint" ng-show="!license.purchased">
				    <p class="title">
				        <span class="aui-icon icon-hint "></span>
				        <strong>Info</strong>
				    </p>
				    <p>You haven't purchased University for {{ license.productName }}</p>
				</div>
            </td>
            <td headers="basic-sen" ng-show="license.purchased">
            	{{ license.sen.sen }}
            </td>
            <td headers="basic-expiration" ng-show="license.purchased">
            	{{ license.sen.expiration }}
            </td>
            <td headers="basic-versions" ng-show="license.purchased">
					<div ng-repeat="productVersion in license.versions">
						<div class="checkbox">
							<input type="checkbox" ng-model="productVersion.visible" class="checkbox" ng-change="hideCourse(productVersion)">
							<label for="">{{productVersion.title}}</label>
						</div>
					</div>
            </td>
            <!-- <td headers="basic-action"> -->
	    <!-- 			<a class="aui-button" ng-show="license.purchased" href="https://www.atlassian.com/purchase/university" target="_blank">Renew/Upgrade</a> -->
	    <!-- 			<a class="aui-button" ng-show="!license.purchased" href="https://www.atlassian.com/purchase/university" target="_blank">Buy</a> -->
            <!-- </td> -->
        </tr>
    </tbody>
</table>
