<div class="network-name-form">
	<form action="#" class="aui" >
		<fieldset class="group">
			<div class="field-group">
				<label for="network-name">Network Name:</label>
				<div inline-edit="network.title" on-save="changeFriendlyName(network)" on-cancel="cancelEdit(network.title)">
				  <input type="text" class="text" on-enter="save()" on-esc="cancel()" ng-model="model" ng-show="editMode">
				  <button ng-click="cancel()" ng-show="editMode">cancel</button>
				  <button ng-click="save()" ng-show="editMode">save</button>
				  <div class="network-name-inlinedit-span" ng-mouseenter="showEdit = true" ng-mouseleave="showEdit = false">
				    <span ng-hide="editMode" ng-click="edit()">{{model}}</span>
				    <a ng-show="showEdit" ng-click="edit()"><span class="aui-icon aui-icon-small aui-iconfont-edit" data-unicode="UTF+E014" original-title="">Edit</span></a>
				  </div>
				</div>
			</div>

		</fieldset>
	</form>
</div>

<!--<table class="aui">
    <thead>
        <tr>
            <th id="basic-productname">Product Name</th>
            <th id="basic-licensesize">License Size</th>
            <th id="basic-sen">SEN</th>
            <th id="basic-expiration">Expiration</th>
            <th id="basic-versions">Visible Versions</th>
            <th id="basic-action">Action</th>
        </tr>
    </thead>
    <tbody ng-repeat="license in licenses | orderBy:id">
        <tr>
            <td headers="basic-productname">
            	<b>{{license.productName}}</b>
            </td>
            <td headers="basic-licensesize">
            	{{ license.sen.license_type }} <span ng-show="license.purchased">users</span>
				<div class="aui-message hint" ng-show="!license.purchased">
				    <p class="title">
				        <span class="aui-icon icon-hint "></span>
				        <strong>Info</strong>
				    </p>
				    <p>You haven't purchased University for {{ license.productName }}</p>
				</div>
            </td>
            <td headers="basic-sen">
            	{{ license.sen.sen }}
            </td>
            <td headers="basic-expiration">
            	{{ license.sen.expiration }}
            </td>
            <td headers="basic-versions">
					<div ng-repeat="productVersion in license.versions">
						<div class="checkbox">
							<input type="checkbox" ng-model="productVersion.visible" class="checkbox" ng-change="hideCourse(productVersion)">
							<label for="">{{productVersion.title}}</label>
						</div>
					</div>
            </td>
            <td headers="basic-action">
				<a class="aui-button" ng-show="license.purchased" href="https://www.atlassian.com/purchase/university" target="_blank">Renew/Upgrade</a>
				<a class="aui-button" ng-show="!license.purchased" href="https://www.atlassian.com/purchase/university" target="_blank">Buy</a>
            </td>
        </tr>
    </tbody>
</table>-->

<div class="aui-group">
	<div class="aui-item" ng-repeat="license in licenses | orderBy:id">
		<div class="course-container">
			<h2 ng-bind-html-unsafe="license.productName"></h2>
			<form action="" class="aui" ng-show="license.purchased">
				<fieldset class="group">
					<legend><span>Visible Versions:</span></legend>
					<div ng-repeat="productVersion in license.versions">
						<div class="checkbox">
							<input type="checkbox" ng-model="productVersion.visible" class="checkbox" ng-change="hideCourse(productVersion)">
							<label for="">{{productVersion.title}}</label>
						</div>
					</div>
				</fieldset>
				<fieldset>
					<div class="field-group">
						<label for="">License Size:</label>
						<input type="text" class="text non-editable" value="{{ license.sen.license_type }} users">
					</div>
					<div class="field-group">
						<label for="">SEN:</label>
						<input type="text" class="text non-editable" value="{{ license.sen.sen }}">
					</div>
					<div class="field-group">
						<label for="">Expiration Date:</label>
						<input type="text" class="text non-editable" value="{{ license.sen.expiration }}">
					</div>
				</fieldset>
			</form>
			<div class="aui-message hint" ng-show="!license.purchased">
			    <p class="title">
			        <span class="aui-icon icon-hint "></span>
			        <strong>Info</strong>
			    </p>
			    <p>You haven't purchased University for {{ license.productName }}</p>
			</div>
			<form class="aui">
				<fieldset>
					<div class="field-group">
						<a class="aui-button" ng-show="license.purchased" href="https://www.atlassian.com/purchase/university" target="_blank">Renew/Upgrade</a>
						<a class="aui-button" ng-show="!license.purchased" href="https://www.atlassian.com/purchase/university" target="_blank">Buy</a>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>