<div class="aui-group" ng-show="!everythingLoaded">
    <div class="aui-item report-loader">
        <div class="large-spinner"></div>
    </div>
</div>
<div class="aui-group" ng-show="everythingLoaded">
	<h2>Network Reporting</h2>
	<div class="aui-group">
		<div class="add-block">
			<form action="" class="aui" name="entryForm">
				<input type="text" class="text" ng-model="entry" required name="userEntry">
				<button class="aui-button inline-button">Filter</button>
			</form>
		</div>
	</div>
</div>
<div class="aui-group">
	<table class="aui aui-table-interactive aui-table-sortable tablesorter tablesorter-default uac-user-table" ng-show="everythingLoaded">
		<thead>
			<tr class="tablesorter-headerRow">
				<th class="tablesorter-header"
					ng-click="reverse=!reverse;orderField='id_user'"
					ng-class="{ 'tablesorter-headerDesc': reverse, 'tablesorter-headerAsc': !reverse}">
					<div class="tablesorter-header-inner">
						<span class="aui-table-header-content">Name</span>
					</div>
				</th>
				<th class="tablesorter-header"
					ng-click="reverse=!reverse;orderField='progress.length'"
					ng-class="{ 'tablesorter-headerDesc': reverse, 'tablesorter-headerAsc': !reverse}">
					<div class="tablesorter-header-inner">
						<span class="aui-table-header-content">Walk-throughs Completed</span>
					</div>
				</th>
				<th class="tablesorter-header"
					ng-click="reverse=!reverse;orderField='lastActivity'"
					ng-class="{ 'tablesorter-headerDesc': reverse, 'tablesorter-headerAsc': !reverse}">
					<div class="tablesorter-header-inner">
						<span class="aui-table-header-content">Last Activity</span>
					</div>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in users | filter:entry | orderBy:orderField:reverse | limit:pagination.offset:pagination.limit">
				<td><a href="mailto:{{ user.id_user }}">{{ user.id_user }}</a></td>
				<td>
					{{ user.progress.length }}
				</td>
				<td>
					{{ user.lastActivity | date:'MM-dd-yyyy HH:MM:ss' }}
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="aui-item" ng-show="totalItems == 0" ng-show="everythingLoaded">
	<br>
	<p>No users found.</p>
</div>

<div class="aui-group aui-group-split" ng-show="everythingLoaded">
	<div class="aui-item" ng-show="totalItems != 0">
		<p>{{ pagination.beginning_item }} - {{ pagination.last_item }} of {{ pagination.items.length }}
            <label for="pagesize">Results per page:</label>
            <select class="select" id="pagesize" name="pagesize" ng-model="itemsPerPage" ng-change="changeMaxItems(itemsPerPage)">
                <option value=10>10</option>
                <option value=20>20</option>
                <option value=50>50</option>
                <option value=100>100</option>
                <option value="{{pagination.items.length}}">All</option>
            </select>
		</p>
	</div>
	<div class="aui-item" ng-show="pagination.num_pages > 1">
		<pagination total-items="totalItems" page="pagination.current_page" items-per-page="itemsPerPage" max-size="maxSize" rotate="false" on-select-page="changedPage(page)"></pagination>
	</div>
</div>
