<div class="aui-group">
	<h2>Network Users</h2>
	<p>The users listed are users in this network.  Users in this list deduct one license from your user license count.</p>
	<div class="aui-group">
		<div class="add-block">
			<form action="" class="aui" name="entryForm">
				<input type="text" class="text" ng-model="entry" required name="userEntry">
				<input type="email" class="text" ng-model="entry" required name="userEmailEntry" style="display:none;">
				<button class="aui-button inline-button" ng-click="add()" ng-disabled="!entryForm.userEmailEntry.$valid || exists()">Invite</button>
			</form>
		</div>
	</div>
</div>

<div class="aui-group">
    

	<table class="aui aui-table-interactive aui-table-sortable tablesorter tablesorter-default uac-user-table">
		<thead>
			<tr class="tablesorter-headerRow">
				<!--<th class="first">
					<div class="table-sorter-header-inner">
						<input type="checkbox" class="checkbox">
					</div>
				</th>-->
				<th class="tablesorter-header"
					ng-click="reverse=!reverse;orderField='id_user'"
					ng-class="{ 'tablesorter-headerDesc': reverse, 'tablesorter-headerAsc': !reverse}" width="75%">
					<div class="tablesorter-header-inner">
						<span class="aui-table-header-content">Name</span>
					</div>
				</th>
				<th class="tablesorter-header"
					ng-click="reverse=!reverse;orderField='role'"
					ng-class="{ 'tablesorter-headerDesc': reverse, 'tablesorter-headerAsc': !reverse}">
					<div class="tablesorter-header-inner">
						<span class="aui-table-header-content">Role</span>
					</div>
				</th>
				<th class="tablesorter-header">
					<div class="tablesorter-header-inner">
						<span class="aui-table-header-content">Actions</span>
					</div>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in networkUsers | filter:entry | orderBy:orderField:reverse | startFrom: pagination.beginning_item - 1 |limitTo:itemsPerPage">
				<!--<td class="first">
					<input type="checkbox" class="checkbox" ng-model="user.checked">
				</td>-->
				<td><a href="mailto:{{ user.id_user }}">{{ user.id_user }}</a></td>
				<td>
                    <form action="" class="aui inline-form" name="userRoleForm">
                        <select class="select" name="userRoleSelect" id="" ng-model="user.role" ng-change="updateRole(user)">
						    <option value="user">User</option>
						    <option value="admin">Admin</option>
                        </select>
                    </form>
				</td>
				<td class="aui-compact-button-column">
					<div class="inline-actions">
							<button class="aui-button aui-button-compact" ng-click="remove(user)">
							<span class="aui-icon aui-icon-small aui-iconfont-remove">Remove</span>
						</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- 	<div class="aui-item" ng-show="filtered.length == 0">
		<p>No users found. You may invite this user now.</p>
	</div>
 -->	
<div class="aui-group aui-group-split">
	<div class="aui-item" ng-show="filtered.length > 0">
		<p>{{ pagination.beginning_item }} - {{ pagination.last_item }} of {{ pagination.items.length }}</p>
	</div>




	<div class="aui-item" ng-show="pagination.num_pages > 1">


		<pagination total-items="totalItems" page="pagination.current_page" items-per-page="itemsPerPage" max-size="maxSize" rotate="false" on-select-page="changedPage(page)"></pagination>


		
	</div>
</div>